/.env
/vendor
/node_modules

/storage/logs/*
/storage/framework/*
!/storage/logs/.gitignore
!/storage/framework/.gitignore

/public/storage/*
!/public/storage/.gitignore
/public/uploads/*
!/public/uploads/.gitkeep

/bootstrap/cache/*

.well-known/

.idea
.vscode
.DS_Store

*.sql
*.zip
